<<<<<<< HEAD
/* Page font */
@import url('@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500..800;1,500..800&display=swap');');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* R */

:root {
    background-color: yellow;
}

/* Setup container */

/* Setup items in container */

=======
/* Reset CSS */

/* Universal Styling */
body {
    background-color: yellow;
}

/* Setup container */

/* Setup items in container */

>>>>>>> d3f124cdf8a0cabf9bed7a9984ba1722e82ef7a4
/* Attribution styling */