/* Page font */
@import url('@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500..800;1,500..800&display=swap');');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global values for font and colors */
:root {
    --body-font: Figtree, sans-serif;
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-ltgray: hsl(0, 0%, 42%);
    --color-dkgray: hsl(0, 0%, 7%);
    --color-blue: hsl(228, 45%, 44%);
}

/* ??? */
body {
    background-color: var(--color-yellow);
    color: var(--color-dkgray);
}

/* Setup container */

/* Setup items in container */

/* Attribution styling */
.attribution { 
    font-size: .6875rem; 
    text-align: center; 
}

.attribution a { 
    color: var(--color-blue); 
}