/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Global styling */
:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
    --color-ltcyan: hsl(158, 36%, 37%);
    --color-dkcyan: hsl(159, 72%, 19%);
    --color-cream: hsl(30, 38%, 92%);
    --color-dkblue: hsl(212, 21%, 14%);
    --color-grayblue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
  }

/* Container styling */
/* THERE IS 1 COLUMN AND 3 ROWS IN THIS DESIGN THIS IS WHY
   GRID TEMPLATE COLUMNS HAS ONE VALUE AND GRID TEMPLATE ROWS
   HAS 3 VALUES. THESE VALUES MAY NEED UPDATING AFTER DETERMINING
   IF THE SIZING DOES NOT WORK AS EXPECTED */
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

/* Picture styling if needed; THIS IS A CHILD OF THE GRID IN MAIN */


/* Content styling; .CONTENT IS A CHILD OF THE GRID IN MAIN */
/* PRODUCT-DESCR AND PRODUCT-PRICE ARE CHILDREN OF THE FLEXBOX .CONTENT */
/* FLEX DIRECTION USED TO MAKE THE HEADINGS, DESCRIPTIONS, PRICES, ETC.
ALIGN IN A COLUMN. FLEX START LEFT JUSTIFIES THE CONTENT */
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Price styling */
/* THE H2 AND H3 ARE CHILDRE OF THE GRID .PRODUCT-PRICE */
.product-price {
    display: grid;
}

/* Button styling */
/* THIS IS A CHILD OF FLEXBOX .CONTENT */

/* Footer for attribution; THIS IS A CHILD OF THE GRID IN MAIN */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}