/* Default page font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..700;1,14..32,400..700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    
    --body-font: Inter, sans-serif;
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-ltgrey: hsl(0, 0%, 20%);
    --color-midgrey: hsl(0, 0%, 12%);
    --color-dkgrey: hsl(0, 0%, 8%);
   
}

body {
    background-image: url("./assets/images/black-abstract-background.png");
    background-size: 500%;
    font-family: Inter, san sans-serif;
}

p {
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

/* Profile styling */
main {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#phone-background {
    width: 25%;
}

.developer-info {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    font-weight: 500;
}

#color-slogan {
    color: red;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40%;
    position: absolute;
}

button {
    width: 275px;
    height: 50px;
    margin-bottom: 20px;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: blueviolet;
    color: yellow;

}

/* Attribution */
.attribution { 
    font-size: .6875rem; 
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}