/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
    --color-ltcyan: hsl(158, 36%, 37%);
    --color-dkcyan: hsl(159, 72%, 19%);
    --color-cream: hsl(30, 38%, 92%);
    --color-dkblue: hsl(212, 21%, 14%);
    --color-grayblue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
  }

  /* Footer for attribution */
  .attribution { 
    font-size: 11px; 
    text-align: center; 
  }

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }