body {

    /*Set Background for Page */
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /*Set Default Font and Color*/
    font: 15px Arial, sans-serif;
    color: white;
}
