body {

    /*Set Background for Page */
    background-image: url("https://melanielogan74.github.io/sandbox/frontend_mentor/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    /*Set Default Font and Color*/
    font: 15px Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}