/* Reset CSS to clear anything the browser automatically sets */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Universal section to set default values for parts of the web page */

@font-face {
	font-family: Outfit;
    src: url("https://fonts.google.com/specimen/Outfit");
}

body {
    font-family: Outfit, sans-serif;
    font-weight: 400;
    background-color: hsl(212, 45%, 89%); 
    color: hsl(216, 15%, 48%);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: 20px 30px;
}

p {
    font-size: 15px;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

/* Size and center the QR image */
img {
    padding: inherit;
    border-radius: 25px;
    margin:auto;
    width: 300px;
    display: block;
  }

  /* Style the container for the QR code and instructions */
.container {
  background: hsl(0, 0%, 100%);
  border-radius: 25px;
  padding: 15px;
  width: 330px;
  height: 500px; 
}

.attribution {
    color: hsl(216, 15%, 48%);
    font-size: 16px;
}
