/* Custom fonts */
@font-face {
    font-family: "Outfit";
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: "YoungSerif";
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --young-serif: "YoungSerif", serif;
    --outfit: Outfit, sans-serif;
    --white: hsl(0, 0%, 100%);
    --ltstone: hsl(30, 18%, 87%);
    --midstone: hsl(30, 10%, 34%);
    --dkstone: hsl(24, 5%, 18%);
    --brown:  hsl(14, 45%, 36%);
    --dkrose:  hsl(332, 51%, 32%);
    --ltrose: hsl(330, 100%, 98%); 
}

body {
    background-color: var(--ltstone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 20px 0 20px;
}

/* Container for recipe card */
.container {
    background-color: var(--white);
    max-width: 720px;
    max-height: 1660px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 100px;
}
 
/* Introduction styling */
.introduction {
    padding-bottom: 30px;
    line-height: 1.5;
}

 .introduction img {
    width: inherit;
    border-radius: 15px;
    margin-top: 25px;
}

.introduction h1 {
    font-family: var(--young-serif); 
    font-size: 2.5rem; 
    font-weight: lighter;
    padding: 20px 0 20px 0; 
}

/* Preparation styling */
.preparation {
    background-color: var(--ltrose);
    border-radius: 12.5px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 10px;
}

.preparation header {
    color: var(--dkrose);
    font-size: 1.125rem;    
    font-weight: 700;
    padding-bottom: 12px;   
}

.preparation li {
    margin-left: 30px;
}

.preparation li::marker {
    color: var(--dkrose);
}

/* Ingredients styling */
.ingredients h2 {
    padding: 20px 0;
    font-family: var(--young-serif);
    font-size: 1.5rem;
    font-weight: lighter;
}

.ingredients li {
    margin-left: 20px;
}

/* Instructions styling */
.instructions {
    margin: 0 50px;
    line-height: 1.5;
}

.instructions h2 {
    font-family: var(--young-serif);
    padding: 5px 0 15px 0;
}

.instructions li {
    margin-left: 20px;
}

/* Nutrition styling */
.nutrition h2 {
    font-family: var(--young-serif);
    padding-top: 10px;
}

.nutrition p, .nutri-facts {
    padding-top: 20px;
}

/* Styling for nutrition grid */
.nutri-facts {
    display: grid;
    grid-template-columns: auto auto;
}

.nutri-item, .nutri-num {
    text-align: left;
    padding: 15px 0 15px 30px;
 }

.nutri-item:not(:nth-child(1), :nth-child(2)) {
    border-top: 1px solid lightgrey;
 }

 .nutri-num:not(:nth-child(1), :nth-child(2)) {
    border-top: 1px solid lightgrey;
 }

/*Styling for multiple sections and tags */
 /* Brown font, bold text for headings, bullets, and numbers */
.ingredients h2, .instructions h2, .nutrition h2, .nutri-num,
.ingredients li::marker, .instructions li::marker  {
    color: var(--brown);
    font-weight: 700;
}

/* Use Outfit font for introduction paragraph, nutrition section, and all li's */
.introduction p, .preparation, .nutrition, li  {
    font-family: var(--outfit);
}

/* Size the section containers */
.introduction, .preparation, .ingredients, .instructions, .nutrition {
    width: 650px;
}

/* List styling for all */
li {
    padding: 0 0 10px 15px;
}

/* Credits */
.attribution { 
    font-size: .6875rem; 
    text-align: center;
    font-family: var(--outfit); 
    font-size: 0.875rem;
    padding-top: 10px;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
