/* Custom fonts */
@font-face {
    font-family: "Outfit";
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: "YoungSerif";
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --young-serif: "YoungSerif", serif;
    --outfit: Outfit, sans-serif;
    --white: hsl(0, 0%, 100%);
    --ltstone: hsl(30, 18%, 87%);
    --midstone: hsl(30, 10%, 34%);
    --dkstone: hsl(24, 5%, 18%);
    --brown:  hsl(14, 45%, 36%);
    --dkrose:  hsl(332, 51%, 32%);
    --ltrose: hsl(330, 100%, 98%); 
}

body {
    background-color: var(--ltstone);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

hr {
    margin: 30px 0;
}

/* Container for recipe card */
.container {
    background-color: var(--white);
    width: 720px;
    max-width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    padding: 20px;
}
 
/* Introduction styling */
.introduction {
   line-height: 1.5;
}

 .introduction img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 15px;
}

.introduction h1 {
    font-family: var(--young-serif); 
    font-size: 2.5rem; 
    font-weight: lighter;
    padding: 20px 0;
}

/* Preparation styling */
.preparation {
    background-color: var(--ltrose);
    border-radius: 12.5px;
    padding: 15px;
    margin: 30px 0;
}

.preparation header {
    color: var(--dkrose);
    font-family: var(--outfit);
    font-size: 1.125rem;    
    font-weight: 700;
    margin: 10px; 
}

.ingredients h2, .instructions h2, .nutrition h2 {
  padding-bottom: 15px;
}

/* Section styling */
section {
    width:100%;
    max-width: 650px;
}

header, h2 {
font-family: var(--young-serif);
font-size: 1.5rem;
color: var(--brown);
}

p, li {
    font-family: var(--outfit);
    line-height: 1.5;
}

/* Responsive list styling */
li {
    padding-left: 15px;
    margin: 0 0 10px 20px;    
}

.preparation li {
    margin: 0 0 10px 40px;
}

li::marker {
    color: var(--brown);
    font-weight: bold;
}

.nutri-item {
    padding: 15px 30px;
}

.nutri-num {
    padding: 15px 0;
    color: var(--brown);
    font-weight: bold;
}

.nutri-item:not(:nth-child(1), :nth-child(2)), 
.nutri-num:not(:nth-child(1), :nth-child(2)) {
    border-top: 1px solid lightgrey;
 }

/* Responsive grid for nutrition facts */
.nutri-facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    font-family: var(--outfit);
}

/* Credits */
.attribution { 
    font-size: .6875rem; 
    text-align: center;
    font-family: var(--outfit); 
    font-size: 0.875rem;
    padding-top: 10px;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        background-color: var(--white);
    }

    .container {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .introduction img {
        border-radius: 0;
        margin-top:0;
        width: 100%;
        height: auto;
     }

    .introduction h1 {
        margin: 0 40px;
        line-height: 1;
     }

    p, ul, ol {
        margin: 0 40px;
        font-size: 1.4375rem;
     }

     div {
        font-size: 1.4375rem;
     }

    h2 {
        margin: 0 40px;
        font-size: 2rem;
     }

     .preparation header {
        font-size: 1.75rem;
     }
}