/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
    --color-ltcyan: hsl(158, 36%, 37%);
    --color-dkcyan: hsl(159, 72%, 19%);
    --color-cream: hsl(30, 38%, 92%);
    --color-dkblue: hsl(212, 21%, 14%);
    --color-grayblue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);
  }
  
  body {
    font-family: var(--font-montserrat);
    background-color: var(--color-cream);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    display: grid;
    place-items: center;
    flex: 1;
    padding: 1rem;
  }
  
  .card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    background-color: var(--color-white);
    overflow: hidden;
    max-width: 600px;
  }
  
  picture img {
    width: 100%;
    display: block;
  }
  
  .content {
    padding: 1.5rem;
  }
  
  .topic {
    font-size: 0.875rem;
    letter-spacing: 0.5em;
    color: var(--color-grayblue);
    margin-bottom: 1rem;
  }
  
  h2 {
    font-family: var(--font-fraunces);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    margin: 0.5rem 0;
    color: var(--color-dkblue);
  }
  
  .description {
    margin: 1.75rem 0;
    line-height: 1.5;
    color: var(--color-grayblue);
  }
  
  .price {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .price-discount {
    font-family: var(--font-fraunces);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-ltcyan);
  }
  
  .price-full {
    text-decoration: line-through;
    color: var(--color-grayblue);
  }
  
  button {
    width: 100%;
    background-color: var(--color-ltcyan);
    color: var(--color-white);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.75rem;
    cursor: pointer;
  }

  button::before  {
    content: url("./images/icon-cart.svg");
    position: relative;
    padding-right: 0.4375rem;
    top: 0.125rem;
  }  
  
  button:hover {
    background-color: var(--color-dkcyan);
  }

  button:focus {
    border: 2px solid var(--color-dkcyan);
    color: var(--color-ltcyan);
    background-color: transparent;
  }

  button:focus::before {
    content: none;
  }
  
  /* Attribution Styling */
  .attribution {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 1rem;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
  
  /* Responsive Design */
  @media (min-width: 600px) {
    .card {
      grid-template-columns: 1fr 1fr;
    }
  
    .content {
      padding: 1.45rem;
    }

  @media (orientation: portrait) {
   body {
    height: 100vh;
   }
    
    .card {
      grid-template-columns: 1fr; /* Single column layout */
    }

    .content {
      padding: 1.5rem;
    }

    
    .attribution {
      margin-top: auto;  /* Keep footer on bottom without scrolling */
    }
  }

  @media (orientation: landscape) {
    .card {
      grid-template-columns: 1 fr 1fr; /* Two column layout */
    }

    .content {
      padding: 1rem 2rem;
    }
  }
}